<h5>Some cities in {{country}}: </h5>
{{! foreach loop }}
<h1>
    <table border="1">
    <tr>
        <th>City</th>
        <th>Provides</th>
    </tr>
    {{#each cities}}
        <tr>
        <td>{{this}}</td>
        </tr>
    {{/each}}
</table>
<table border="1">
    <tr>
        <th>Provides</th>
    </tr>
    {{#each provides}}
        <tr>
        <td>{{this}}</td>
        </tr>
    {{/each}}
</table>
</h1>